[Desktop Entry]
Type=Application
Name=PATApp
Comment=View pat File
Exec=PATApp
Icon=PATApp
Categories=Office;
X-AppImage-Version=

Name[en_US]=PATApp.desktop
